<!DOCTYPE html>
<html lang="fr">

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'home/navbar.html.twig' %}

   {% include 'home/body.html.twig' %}
  </div>
  

</body>
</html>
