<!DOCTYPE html>
<html lang="fr">
{% include 'home/head.html.twig' %}

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'home/navbar.html.twig' %}

   <div class="container">

       {% include 'configuration/messageFlash.html.twig' %}


   <div class="card" >
        <div class="card-header">

           <div class="row">

                <div class="col-md-2">
                    <a href="" class="h2">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-5">
                    <h3 class="h3">
                        INSERTION DE NOTES
                    </h3>
                </div> 
 
            </div> 
            
        </div>
        <div class="card-body">
            <div class="container w-50">
                {{form_start(form)}}
                    <div class="form-row">
                                <div class="form-group mr-3">
                                    
                                    {{ form_widget(form.semestre) }}
                                </div>

                                 <div class="form-group mr-3">

                                    {{ form_widget(form.coefficient) }}
                            
                                </div>

                            <div class="form-submit">
                                <button class="btn btn-primary" type="submit">Valider</button>
                            </div>

                     </div>
 
                {{form_end(form)}}
            </div> 

        </div>
    </div>

  </div>

  

  </div>
</body>
</html>

{% include 'home/footer.html.twig' %}





