{% extends 'base.html.twig' %}

{% block title %}Creation de Filière | Gestion des notes BTS/DTS{% endblock %}

{% block head %}


{% endblock %}


{% block body %}

<html lang="fr">
{% include 'home/head.html.twig' %}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'home/navbar.html.twig' %}


   <div class="card border-info mb-5" style="max-width: 40rem; margin: auto;">

        <div class="card-body">
            
               
         </div>

    </div>


</div>
  

</body>
{% include 'home/footer.html.twig' %}
</html>
    
{% endblock %}

