{{ form_start(form) }}

     <div class="input-group">
        {{ form_widget(recherche) }}
        <span class="input-group-append">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </span>
    </div>


{{ form_end(form) }}