{{ form_start(form, {'class': 'form-inline' }) }}

     <div class="input-group">
        {{ form_widget(form.recherche) }}
        <span class="input-group-append">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search text-muted"></i>
            </button>
        </span>
    </div>


{{ form_end(form) }}